{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <!-- login Form  -->
        <form action="" method="POST">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class='border-bottom mb-4'>Login</legend>
                <!-- login / email -->
                <div class="form-group">
                    {{ form.email.label(class="form-control-label") }}
                    
                    {% if form.email.errors %}
                        {{ form.email(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <!-- password -->
                <div class="form-group">
                    {{ form.password.label(class="form-control-label") }}

                    {% if form.password.errors %}
                        {{ form.password(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.password(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <!-- remember me checkbox -->
                <div class="form-check">
                    {{ form.remember(class="form-check-incput") }}
                    {{ form.remember.label(class="form-check-label") }}
                </div>
            </fieldset>
            <!-- form submit -->
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
        <!-- Form end -->
    </div>
    <div class="border-top pt3">
        <!-- Register link -->
        <small class="text-muted">
            Don't have account? <a class="ml-2" href="{{ url_for('register') }}">Sign Up Here</a>
        </small>
        
    </div>
    <div class="border-top pt3">
        <!-- Forgot Password link -->
        <small class="text-muted">
            Forgot Password? <a class="ml-2" href="{{ url_for('reset_request') }}">Reset Here</a>
        </small>
    </div>

{% endblock content %}